@font-face {
    font-family: 'Cafe24ClassicType';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24ClassicType/Cafe24ClassicType.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24ClassicType/Cafe24ClassicType.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24ClassicType/Cafe24ClassicType.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24ClassicType/Cafe24ClassicType.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24ClassicType/Cafe24ClassicType.ttf') format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'NotoSansKR';
}

/* 헤더 */

header {
    font-family: 'Quicksand';
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

#header_in {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

#top {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

#top li a {
    margin: 25px 6px;
}

#top li a:hover {
    color: gold;
}

#top li a img {
    opacity: 0.7;
    margin-right: 80px;
}

#top li a:hover img {
    opacity: 1;
}

.m_logo{
    display: none;
}

#top_menu {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top_menu img {
    display: block;
}

#nav {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#nav li a {
    margin: 0px 15px;
}

#nav li a:hover {
    color: gold;
}

.m_nav {
    display: none;
}

/* 배너 */

#box1 {
    width: 100%;
    background: url(./img/mainbanner.png) no-repeat center center;
    background-size: cover;
    padding: 255px 0;
    overflow: hidden;
    margin-top: 109px;
}

#box1_in {
    width: 90%;
    margin: auto;
    position: relative;
}

.mobile_mainimg {
    display: none;
}

.toffeenut {
    display: block;
    position: absolute;
    top: -245px;
    right: 50%;
    margin-right: -100px;
}

.malcha {
    display: block;
    position: absolute;
    top: -250px;
    right: 50%;
    margin-right: -420px;
}

.doubleespresso {
    display: block;
    position: absolute;
    bottom: -150px;
    right: 50%;
    margin-right: -700px;
}

.mb_text {
    text-align: left;
}

.mb_text img {
    display: inline-block;
    margin-left: 7%;
}

.mb_text h1 {
    color: #FFF451;
    font-size: 75px;
    font-family: 'Cafe24ClassicType';
    font-weight: 500;
    margin-left: 6%;
}

/* MD 배너 */
#md_banner {
    display: block;
    width: 100%;
}

#box2 {
    position: relative;
    background: url(./img/md_banner.png) no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    overflow: hidden;
}

#box2_in {
    width: 90%;
    margin: auto;
    text-align: center;
    position: relative;
}

#box2_in a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 35px;
}

#box2_in a:hover {
    background-color: #fff;
    color: #0C3734;
}

.md01 {
    display: block;
    position: absolute;
    width: 25%;
    top: 100px;
    left: 40px;
    transform: rotate(45deg);
}

.md01[data-aos=fade-right]{
    transform: translate3d(-100px,0,0) rotate(45deg);
}

.md01[data-aos^=fade][data-aos^=fade].aos-animate{
    transform: translateZ(0) rotate(45deg);
}

.md02 {
    display: block;
    position: absolute;
    width: 30%;
    top: -50px;
    right: 20px;
    transform: rotate(-30deg);
}

.md02[data-aos=fade-left]{
    transform: translate3d(100px,0,0) rotate(-30deg);
}

.md02[data-aos^=fade][data-aos^=fade].aos-animate{
    transform: translateZ(0) rotate(-30deg);
}

.mdtext {
    margin-top: -70px;
}

/* e-frequency */
#e_banner {
    display: block;
    width: 100%;
}

#box3 {
    position: relative;
    height: 600px;
    background: url(./img/e-frequency\ banner.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#box3_in {
    position: absolute;
    top: 65px;
    left: 120px;
    width: 90%;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.event_title {
    margin-top: 5px;
    text-align: center;
}

.event_title h1 {
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 54px;
    font-weight: 200;
    line-height: 57px;
}

.event_title h2 {
    font-family: 'Cafe24ClassicType';
    font-size: 36px;
    color: #605948;
    margin-bottom: 30px;
}

.event_title a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 35px;
}

.event_title a:hover {
    background-color: #fff;
    color: gold;
}

.event {
    margin-top: 25px;
    margin-left: 120px;
}

.event h3 {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 5px 25px;
}

.event p {
    font-size: 23px;
    color: #fff;
    margin: 10px 0;
    letter-spacing: -1px;
}

.event span {
    font-size: 18px;
}

.window {
    display: none;
}

/* chocolate */
#choco_banner {
    display: block;
    width: 100%;
}

#box4 {
    position: relative;
    background: url(./img/chocobanner.png) no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    overflow: hidden;
}

#box4_in {
    width: 90%;
    margin: auto;
    position: relative;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
}

.m_chocobox {
    display: none;
}

.choco01,
.choco02,
.choco03 {
    display: block;
    position: absolute;
}

.choco01 {
    top: -30px;
    left: 10px;
}

.choco02 {
    top: -50px;
    left: 270px;
}

.choco03 {
    top: -30px;
    left: 620px;
}

.choco_text {
    text-align: center;
}

.choco_text h3 {
    text-align: left;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

.choco_text a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 35px;
    margin-top: 25px;
}

.choco_text a:hover {
    background-color: #fff;
    color: #633221;
}

/* menu */

#box5 {
    background: url(./img/background.png) no-repeat center center fixed;
    background-size: cover;
    padding: 100px 0;
    overflow: hidden;
}

#box5_in {
    width: 90%;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_text {
    width: 30%;
    text-align: right;
    color: #fff;
    margin-right: 60px;
}

.menu_text h3 {
    font-weight: normal;
    font-size: 20px;
    margin: 5px 0 10px;
}

.menu_text p {
    font-size: 14px;
}

.menu_text a {
    margin: 50px 100px 0 0;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 35px;
}

.menu_text a:hover {
    background-color: #fff;
    color: #605948;
}

#box5_in img {
    width: 65%;
}

.m_menu_text {
    display: none;
}

/* store */
#box6 {
    width: 100%;
    background: url(./img/storebanner.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#box6_in {
    width: 90%;
    height: 231px;
    text-align: center;
    margin-left: 50px;
}

#box6_in h1 {
    font-size: 34px;
    padding-top: 80px;
}

#box6_in p {
    font-size: 25px;
}

#box7 {
    background: url(./img/store_bg.png) no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    overflow: hidden;
}

#box7_in {
    width: 90%;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
}

.drivethru {
    padding-top: 220px;
    text-align: center;
    width: 400px;
    height: 432px;
    background: url(./img/drivethru.png) no-repeat center 50px rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    color: #fff;
}

.drivethru p {
    margin-bottom: 10px;
}

.drivethru h4 {
    font-size: 19px;
}

.drivethru a {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 10px 35px;
    margin-top: 30px;
}

.drivethru a:hover {
    background-color: #fff;
    color: #633221;
}

.reserve {
    padding-top: 220px;
    text-align: center;
    width: 400px;
    height: 432px;
    background: url(./img/reserve.png) no-repeat center 50px rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    color: #fff;
}

.reserve p {
    margin-bottom: 10px;
}

.reserve h4 {
    font-size: 19px;
}

.reserve a {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 10px 35px;
    margin-top: 30px;
}

.reserve a:hover {
    background-color: #fff;
    color: #633221;
}

.community {
    padding-top: 220px;
    text-align: center;
    width: 400px;
    height: 432px;
    background: url(./img/community.png) no-repeat center 50px rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    color: #fff;
}

.community p {
    margin-bottom: 10px;
}

.community h4 {
    font-size: 19px;
}

.community a {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 10px 35px;
    margin-top: 30px;
}

.community a:hover {
    background-color: #fff;
    color: #633221;
}

/* footer */
footer {
    background-color: #272727;
    width: 100%;
    padding: 30px 0 50px;
    text-align: center;
    overflow: hidden;
}

#footer_in {
    width: 90%;
    margin: auto;
    background: url(./img/footer_logo.png) no-repeat right top;
    max-width: 1200px;
}

.footer_title {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    font-size: 13px;
    justify-content: space-around;
}

.footer_title li a {
    display: block;
    margin-bottom: 5px;
}

.footer_title>li>a {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 700;
}

.award {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}

.award li {
    margin: 0 5px;
}

#service {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    justify-content: center;
}

#service li a {
    margin: 0 5px;
}

.btn {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.btn li a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 10px 5px;
    font-size: 12px;
}

footer li a:hover {
    color: #225735;
}

.btn li a:hover {
    background-color: #fff;
    color: #333;
}

footer p {
    color: #888;
    font-size: 12px;
    margin-top: 5px;
}

@media (max-width: 1680px) {
    .toffeenut {
        width: 270px;
        margin-right: -250px;
    }

    .malcha {
        width: 199px;
    }

    .doubleespresso {
        width: 400px;
        top: -260px;
        margin-right: -600px;
    }

    #box3 {
        background-position: left center;
    }

    .choco01 {
        width: 400px;
        left: 0;
    }

    .choco02 {
        width: 400px;
        left: 200px;
    }

    .choco03 {
        width: 400px;
        left: 450px;
    }

    .drivethru,
    .reserve,
    .community{
        width: 32%;
    }

}


@media (max-width: 1300px) {
    #top {
        display: none;
    }

    #top_menu img{
        display: none;
    }

    .m_logo{
        display: block;
        margin: auto;
    }
    #nav {
        display: none;
    }

    .m_nav {
        display: block;
    }

    #top2 {

        margin: 20px 0 30px;
    }

    #top2 li a {
        font-size: 13px;
        margin: 2px;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
    }

    #box1 {
        margin-top: 95px;
    }

    .sidebar ul li a:hover{
        color: gold;
    }

    .sidebar ul li a img{
        opacity: 0.8;
    }

    .sidebar ul li a:hover img{
        opacity: 1;
    }
}

@media (max-width:1220px) {
    .web_mainimg {
        display: none;
    }

    .mobile_mainimg {
        display: block;
        display: -moz-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
    }

    .mobile_mainimg img {
        width: 95%;
        margin: auto;
    }

    #box1 {
        background: url(./img/mobile_main.png) no-repeat top center;
        background-size: 100%;
        margin-top: 95px;
        padding-bottom: 10px;

    }

    .mb_text {
        margin-top: 30px;
        text-align: center;
    }

    .mb_text[data-aos=fade-right]{
        transform: translate3d(0,-100px,0);
    }

    .mb_text[data-aos^=fade][data-aos^=fade].aos-animate{
        transform: translateY(0);
    }

    .md_text {
        width: 90%;
        margin-top: 40px;
    }

    .md01,
    .md02 {
        width: 25%;
    }

    .md01 {
        top: 85px;
        left: 0;
    }

    .md02 {
        top: 0px;
        right: 20px;
    }

    #box3 {
        background: url(./img/mobile_e-frequency.png) no-repeat center bottom;
        height: auto;
        padding: 80px 0 250px;
    }

    #box3_in {
        flex-direction: column;
        text-align: center;
        position: static;
        width: 100%;
    }

    .event_title h1 {
        display: inline-block;
    }

    .event {
        margin: 80px 0 0;
    }

    .window {
        display: block;
        margin: auto;
    }

    #box4_in {
        flex-direction: column;
        position: static;
        text-align: center;
    }

    .web_chocobox {
        display: none;
    }

    .choco_text h3 {
        text-align: center;
        margin-bottom: 50px;
    }

    .m_chocobox {
        display: block;
    }

    .m_choco01,
    .m_choco02,
    .m_choco03 {
        margin-bottom: 20px;
        width: 90%;
    }

    #box5_in {
        flex-direction: column;
    }

    .menu_text,
    .menu_text_img {
        display: none;
    }

    .m_menu_text {
        display: block;
        text-align: center;
    }

    .m_menu_text h3 {
        font-weight: normal;
        font-size: 23px;
        color: #fff;
        margin: 5px 0 10px;
    }

    .m_menu_text p {
        color: #fff;
        font-size: 14px;
    }

    .m_menu_text a {
        margin-top: 20px;
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 10px 35px;
    }

    .m_menu_text a:hover {
        background-color: #fff;
        color: #605948;
    }

    #box7_in {
        width: 90%;
    }

    .drivethru,
    .reserve,
    .community {
        margin: 0 auto 10px;
    }
}

@media (max-width:700px) {

    #box1 {
        padding: 120px 0 10px;
    }

    .mobile_mainimg img {
        width: 85%
    }

    #box6_in h1 {
        font-size: 25px;
        padding-top: 80px;
    }

    #box6_in p {
        font-size: 16px;
    }

    .event h3 {
        font-size: 18px;
    }

    .event p {
        font-size: 18px;
    }

    .event span {
        font-size: 13px;
    }

    .footer_title {
        flex-direction: column;
        text-align: left;
    }

    .footer_title>li>a{
        margin-top: 20px;
    }
    
    #box7_in{
        flex-direction: column;
        
    }

    .drivethru,
    .reserve,
    .community{
        width: 85%;
    }
}

@media (max-width:499px) {
    .sidebar{
        width: 100%;
    }

    #box1{
        padding: 50px 0;
    }
    .mb_text img{
        width: 50%;
    }

    .mb_text h1{
        font-size: 30px;
    }

    .mdtext{
        margin: auto;
    }

    .md01{
        top: 50px;
    }

    #box2_in a{
        font-size: 12px;
        padding: 5px 20px;
    }

    .window{
        width: 80%;
    }

    .event_title h1{
        margin-top: 10px;
        font-size: 30px;
        line-height: 40px;
    }

    .event h3{
        font-size: 15px;
    }

    .event p{
        font-size: 13px;
    }

    .event span{
        font-size: 10px;
    }

    .event_title a{
        font-size: 12px;
        padding: 5px 20px;
    }

    .event{
        margin-top: 40px;
    }

    .choco_text h3{
        font-size: 20px;
    }

    .choco_text a{
        font-size: 12px;
        padding: 5px 20px;
    }

    .m_menu_text h3{
        font-size: 15px;
    }

    .m_menu_text p{
        font-size: 10px;
    }

    .m_menu_text a{
        font-size: 12px;
        padding: 5px 20px;
    }

    #box6_in{
        margin-left: 20px;
    }

    #box6_in h1{
        font-size: 19px;
    }

    #box6_in p{
        font-size: 13px;
    }

    .drivethru,
    .reserve,
    .community{
        width: 95%;
    }

    .community p{
        font-size:15px;
    }

    .drivethru a,
    .reserve a,
    .community a{
        font-size: 14px;
        padding: 15px 30px;
    }
}